@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* Chrome, Safari, Edge */
.imgBox::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.imgBox {
  scrollbar-width: none;
}
